.git
.gitignore
.DS_Store
.idea
.vscode

**/node_modules
**/dist
**/build
frontend/.vite

__pycache__
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

.venv
.cache
logs
tmp
coverage

models
assets
**/*.mp4
**/*.mp4p
